# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
/public/data/citibike_2025-02-02.json
/public/data/citibike_2025-02-03.json
/public/data/citibike_2025-02-04.json
/public/data/citibike_2025-02-05.json
/public/data/citibike_2025-02-06.json
/public/data/citibike_2025-02-07.json
/public/data/citibike_2025-02-08.json
/public/data/citibike_2025-02-09.json
/public/data/citibike_2025-02-10.json
/public/data/citibike_2025-02-11.json
/public/data/citibike_2025-02-12.json
/public/data/citibike_2025-02-13.json
/public/data/citibike_2025-02-14.json
